.diagramWrapper {
    border: 1px solid #353535;
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tools{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s ease;
        background: rgb(212, 247, 169);
        padding: 10px;
        border: none;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }

        &:active{
            opacity: 0.5;
        }
    }
}

.form{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    left: 0;
    top: 0;
}

.zoom_Field{
    min-width: 2000px;
    min-height: 2000px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}