.diagram {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    min-height: 700px;

    padding: 10px;
}

.name{
    width: 80%;
    text-align: center;
    font-weight: 500;
}

.lineLabel{
    // position: absolute;
    // left: 0;
    // top: 0;
}

.top, .bottom{
    display: flex;
    justify-content: space-around;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blocks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
}

.block {
    border: 3px solid #353535;
    width: 240px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
    margin: 40px;
}

.emptyBlock{
    width: 240px;
    height: 180px;
}

.id{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 15px;
}

.mechanisms, .controls{
    display: flex;
    justify-content: center;
    align-items: start;

}

.mechanisms{
    align-items: end;
    div{
        display: flex;
    }
}


.mechanism, .control{
    font-size: 16px;
    font-weight: 500;
    max-width: 100px;
    margin: 0 20px;
    padding: 3px 0; 
    text-align: center;
}



.inputs, .outputs{
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.input,.output{
    font-size: 16px;
    font-weight: 500;

    display: flex;
    justify-content: start;
    align-items: center;
    height: 12px;
    
    padding: 10px 5px;
}
.input{
    justify-content: end;
}